*{
  margin: 0;
  padding: 0;
}
body{
  width: 100vw;
  height: 100vh;
}
.wrapper{
  width: 100%;
  height: 100%;
  padding-top: 100px;
  text-align: center;
}
.imageWrapper{
  width: 484px;
  height: 484px;
  margin: auto;
}
.labirint, .solution{
  width: 484px;
  height: 484px;
  margin: 0 auto;
  position: absolute;
}
.solution, #cvs{
  z-index: 1;
}
