*{
  margin: 0;
  padding: 0;
}
body{
  width: 100vw;
  height: 100vh;
}
.wrapper{
  width: 100%;
  height: 100%;
  padding-top: 16%;
  background: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-sizing: border-box;
}
.imageWrapper{
  background: rgba(25, 25, 25, 0.5);
  width: 484px;
  height: 484px;
  margin: auto;
}
.labirint, .solution{
  width: 484px;
  height: 484px;
  margin: 0 auto;
  position: absolute;
}
.solution, #cvs, .lCycleImage{
  z-index: 1;
}
.controls{
  width: 550px;
  margin: auto;
  margin-top: 10px;
}
button{
  border-radius: 3px;
  font-size: 1.8em;
  font-family: 'Geo';
  text-shadow: 5px 5px 5px #aaaaaa;
}

#lCycleImage{
  transform: rotate(270deg);
  z-index: 2;
}

/* font */
@font-face {
  font-family: 'Geo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Geo'), local('Geo-Regular'), url(https://fonts.gstatic.com/s/geo/v11/CSRz4zRZluflKHpn.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Color pallete: https://coolors.co/394648-db162f-ffffff-42d0ff-f9ebe0 */
